In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer

In [12]:
#DataSets that we can test
#climate
liver = 'https://archive.ics.uci.edu/ml/machine-learning-databases/liver-disorders/bupa.data'
arrhythmia = 'https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data'
vowel = 'https://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/vowel/vowel-context.data'
iris = load_iris()
breast_cancer = load_breast_cancer()

name_datasets_csv = {'arrhythmia': arrhythmia}
name_datasets_sklearn = {'iris_data': iris, 'breast_cancer_data': breast_cancer}

In [13]:
data = {}
target = {}
dimensionality = {}
datasets = {}

In [14]:
vowel_data = pd.read_csv(vowel,skiprows=2, index_col=False,delim_whitespace=True)
vowel_data.columns = ['feature{}'.format(i) for i in range(0,vowel_data.shape[1])]

dimensionality['vowel_data'] = [vowel_data.shape,vowel_data.nunique().tolist()[-1:]]
data['vowel_data'] = vowel_data[vowel_data.columns[:-1]]
target['vowel_data'] = vowel_data[vowel_data.columns[-1:]]

In [19]:
liver_data = pd.read_csv(liver,skiprows=2, index_col=False)
liver_data.columns = ['feature{}'.format(i) for i in range(0,liver_data.shape[1])]
liver_data = liver_data[liver_data.columns[:-1]]

dimensionality['liver'] = [liver_data.shape,liver_data.nunique().tolist()[-1:]]
data['liver'] = liver_data[liver_data.columns[:-1]]
target['liver'] = liver_data[liver_data.columns[-1:]]
datasets['liver'] = liver_data

In [21]:
#csv
for name in name_datasets_csv:
    var = name+"_data"
    var = pd.read_csv(str(name_datasets_csv.get(name)),skiprows=2, index_col=False)
    var.columns = ['feature{}'.format(i) for i in range(0,var.shape[1])]

    dimensionality[name] = [var.shape,var.nunique().tolist()[-1:]]
    data[name] = var[var.columns[:-1]]
    target[name] = var[var.columns[-1:]]
    datasets[name] = var
    

#excel
"""
for name in names_datasets_excel:
    var = name+"_data"
    var = pd.read_excel(str(names_datasets_excel.get(name)),skiprows=2, index_col=False)
    var.columns = ['feature{}'.format(i) for i in range(0,var.shape[1])]
    
    dimensionality[name] = [var.shape,var.nunique().tolist()[-1:]]
    data[name] = var[var.columns[:-1]]
    target[name] = var[var.columns[-1:]]
"""


#sklearn
for name in name_datasets_sklearn:

    var = name+"_data"
    df = name_datasets_sklearn.get(name)

    var = pd.DataFrame(data=data, columns=name_datasets_sklearn.get(name).feature_names)
    var.columns = ['feature{}'.format(i) for i in range(0,var.shape[1])]
    
    data[name] = pd.DataFrame(df.data)
    target[name] = pd.DataFrame(df.target)
    datasets[name] = pd.DataFrame(df.data).assign(target=df.target)
    dimensionality[name] = [datasets[name].shape,pd.DataFrame(df.target).nunique().tolist()[-1:]]

In [22]:
dimensionality

{'vowel_data': [(987, 14), [11]],
 'liver': [(342, 6), [16]],
 'arrhythmia': [(449, 280), [13]],
 'iris_data': [(150, 5), [3]],
 'breast_cancer_data': [(569, 31), [2]]}

In [7]:
data = datasets['iris_data']

In [8]:
data.dtypes

0         float64
1         float64
2         float64
3         float64
target      int64
dtype: object

In [9]:
data.describe()

                0           1           2           3      target
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333    1.000000
std      0.828066    0.435866    1.765298    0.762238    0.819232
min      4.300000    2.000000    1.000000    0.100000    0.000000
25%      5.100000    2.800000    1.600000    0.300000    0.000000
50%      5.800000    3.000000    4.350000    1.300000    1.000000
75%      6.400000    3.300000    5.100000    1.800000    2.000000
max      7.900000    4.400000    6.900000    2.500000    2.000000

In [10]:
#if there are categorical data
#for col in german.select_dtypes(include=[object]): 
    #print(col,":", german[col].unique())

In [11]:
#checking for null values
data.isnull().sum().sort_values(ascending=False)

0         0
1         0
2         0
3         0
target    0
dtype: int64

In [12]:
# important: correlation is only computed on numerical variables! 
# to have a complete spectrum of the correlations we should convert all the dataset variables to numerical values
data.corr()

               0         1         2         3    target
0       1.000000 -0.117570  0.871754  0.817941  0.782561
1      -0.117570  1.000000 -0.428440 -0.366126 -0.426658
2       0.871754 -0.428440  1.000000  0.962865  0.949035
3       0.817941 -0.366126  0.962865  1.000000  0.956547
target  0.782561 -0.426658  0.949035  0.956547  1.000000

In [ ]:
#sns.scatterplot(data=data, x="Credit amount", y="Duration", hue="Risk")