In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [7]:
from sklearn.datasets import load_iris
from sklearn.datasets import load_breast_cancer

In [53]:
#DataSets that we can test
liver = 'https://archive.ics.uci.edu/ml/machine-learning-databases/liver-disorders/bupa.data'
#arrhythmia = 'https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data'
#vowel = 'https://archive.ics.uci.edu/ml/machine-learning-databases/undocumented/connectionist-bench/vowel/vowel-context.data'
#badges = 'https://archive.ics.uci.edu/ml/machine-learning-databases/badges/badges.data'
#perfume = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00303/perfume_data.xlsx'

In [57]:
#iris = load_iris()
#breast_cancer = load_breast_cancer()
data = pd.read_csv(liver, skiprows=2, index_col=False)

In [71]:
#when we obtain the data from UCI we have the data without the name columns, so we will create an array that we will use as the names of the columns
index_columns = np.fromiter( (i+1 for i in range(data.shape[1])), dtype="int" )
data.columns = index_columns

In [72]:
data.head()

    1   2   3   4   5    6  7
0  91  78  34  24  36  0.0  2
1  87  70  12  28  10  0.0  2
2  98  55  13  17  17  0.0  2
3  88  62  20  17   9  0.5  1
4  88  67  21  11  11  0.5  1

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       342 non-null    int64
 1   2       342 non-null    int64
 2   3       342 non-null    int64
 3   4       342 non-null    int64
 4   5       342 non-null    int64
 5   6       342 non-null    float64
 6   7       342 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 18.8 KB

In [75]:
data.dtypes

1      int64
2      int64
3      int64
4      int64
5      int64
6    float64
7      int64
dtype: object

In [76]:
data.nunique()

1    26
2    78
3    67
4    47
5    94
6    16
7     2
dtype: int64

In [77]:
data.describe()

,1,2,3,4,5,6,7
count,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000
mean,90.201754,69.868421,30.271930,24.640351,38.304094,3.485380,1.578947
std,4.444206,18.366350,19.519725,10.089157,39.407056,3.336648,0.494451
min,65.000000,23.000000,4.000000,5.000000,5.000000,0.000000,1.000000
25%,87.000000,57.000000,19.000000,19.000000,15.000000,0.500000,1.000000
50%,90.000000,67.000000,26.000000,23.000000,24.500000,3.000000,2.000000
75%,93.000000,80.000000,34.000000,27.000000,45.500000,6.000000,2.000000
max,103.000000,138.000000,155.000000,82.000000,297.000000,20.000000,2.000000

In [ ]:
#if there are categorical data
#for col in german.select_dtypes(include=[object]): 
    #print(col,":", german[col].unique())

In [78]:
#checking for null values
data.isnull().sum().sort_values(ascending=False)

1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

In [79]:
# important: correlation is only computed on numerical variables! 
# to have a complete spectrum of the correlations we should convert all the dataset variables to numerical values
data.corr()

          1         2         3         4         5         6         7
1  1.000000  0.045128  0.157031  0.190049  0.222738  0.305839 -0.090678
2  0.045128  1.000000  0.075838  0.144519  0.134956  0.101681 -0.091693
3  0.157031  0.075838  1.000000  0.740763  0.507627  0.215847 -0.036717
4  0.190049  0.144519  0.740763  1.000000  0.530871  0.281783  0.159431
5  0.222738  0.134956  0.507627  0.530871  1.000000  0.342484  0.146409
6  0.305839  0.101681  0.215847  0.281783  0.342484  1.000000 -0.020628
7 -0.090678 -0.091693 -0.036717  0.159431  0.146409 -0.020628  1.000000

In [ ]:
#sns.scatterplot(data=data, x="Credit amount", y="Duration", hue="Risk")